# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# TLS Configuration
TLS_CERT_FILE=./data/certs/server.crt
TLS_KEY_FILE=./data/certs/server.key
TLS_ENABLED=0
TLS_PORT=443
TLS_CA_FILE=./data/certs/ca.crt
TLS_DOMAIN=example.com

# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=linuxpatch

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=0

# Session Configuration
SESSION_SECRET=

# SMTP Configuration
SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@example.com
SMTP_USE_TLS=1

# Log Configuration
LOG_FILE=

# Time Configuration
TIME_ZONE=UTC